<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weather101.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E068EEB1D9A1E7000D3D345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E068EFF1D9A1E7000D3D345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E068F0A1D9A1E7100D3D345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
